include includes/header

// Navbar
body
  include includes/navbar

  include mixin/mail_form

  .p-page
    main.l-main
      .p-cover-header.p-cover-header--news.js-cover-header
        h2.p-cover-header__title NEWS

      .container-fluid
        .p-block--lg
          .row.p-news-cards
            include mixin/news_card
            .col-lg-4(data-hasurl=news._09082020.url)
              a.p-news-card.p-news-card--twitter(href=news._09082020.url, target="_blank", data-category=news._09082020.category)
                +news_card(
                news._09082020.category,
                news._09082020.date,
                news._09082020.header,
                news._09082020.body) 
            .col-lg-4(data-hasurl=news._08142020.url)
              a.p-news-card.p-news-card--twitter(href=news._08142020.url, target="_blank", data-category=news._08142020.category)
                +news_card(
                news._08142020.category,
                news._08142020.date,
                news._08142020.header,
                news._08142020.body) 
            .col-lg-4(data-hasurl=news._08102020.url)
              a.p-news-card.p-news-card--twitter(href=news._08102020.url, target="_blank", data-category=news._08102020.category)
                +news_card(
                news._08102020.category,
                news._08102020.date,
                news._08102020.header,
                news._08102020.body) 
            .col-lg-4(data-hasurl=news._05142020.url)
              a.p-news-card.p-news-card--twitter(href=news._05142020.url, target="_blank", data-category=news._05142020.category)
                +news_card(
                news._05142020.category,
                news._05142020.date,
                news._05142020.header,
                news._05142020.body)
            .col-lg-4(data-hasurl=news._04292020.url)
              a.p-news-card.p-news-card--twitter(href=news._04292020.url, target="_blank", data-category=news._04292020.category)
                +news_card(
                news._04292020.category,
                news._04292020.date,
                news._04292020.header,
                news._04292020.body)
            .col-lg-4(data-hasurl=news._03162020.url)
              a.p-news-card.p-news-card--twitter(href=news._03162020.url, target="_blank", data-category=news._03162020.category)
                +news_card(
                news._03162020.category,
                news._03162020.date,
                news._03162020.header,
                news._03162020.body)
            .col-lg-4(data-hasurl=news._02282020.url)
              a.p-news-card.p-news-card--twitter(href=news._02282020.url, target="_blank", data-category=news._02282020.category)
                +news_card(
                news._02282020.category,
                news._02282020.date,
                news._02282020.header,
                news._02282020.body)
            .col-lg-4(data-hasurl=news._02052020.url)
              a.p-news-card.p-news-card--twitter(href=news._02052020.url, target="_blank", data-category=news._02052020.category)
                +news_card(
                news._02052020.category,
                news._02052020.date,
                news._02052020.header,
                news._02052020.body)
            .col-lg-4(data-hasurl=news._02032020.url)
              a.p-news-card.p-news-card--twitter(href=news._02032020.url, target="_blank", data-category=news._02032020.category)
                +news_card(
                news._02032020.category,
                news._02032020.date,
                news._02032020.header,
                news._02032020.body)
            .col-lg-4(data-hasurl=news._01292020.url)
              a.p-news-card.p-news-card--twitter(href=news._01292020.url, target="_blank", data-category=news._01292020.category)
                +news_card(
                news._01292020.category,
                news._01292020.date,
                news._01292020.header,
                news._01292020.body)
            .col-lg-4(data-hasurl=news._12242019.url)
              a.p-news-card.p-news-card--twitter(href=news._12242019.url, target="_blank", data-category=news._12242019.category)
                +news_card(
                news._12242019.category,
                news._12242019.date,
                news._12242019.header,
                news._12242019.body)
            .col-lg-4(data-hasurl=news._12172019_2.url)
              a.p-news-card.p-news-card--twitter(href=news._12172019_2.url, target="_blank", data-category=news._12172019_2.category)
                +news_card(
                news._12172019_2.category,
                news._12172019_2.date,
                news._12172019_2.header,
                news._12172019_2.body)
            .col-lg-4(data-hasurl=news._12172019_1.url)
              a.p-news-card.p-news-card--twitter(href=news._12172019_1.url, target="_blank", data-category=news._12172019_1.category)
                +news_card(
                news._12172019_1.category,
                news._12172019_1.date,
                news._12172019_1.header,
                news._12172019_1.body)
            .col-lg-4(data-hasurl=news._12142019.url)
              a.p-news-card.p-news-card--twitter(href=news._12142019.url, target="_blank", data-category=news._12142019.category)
                +news_card(
                news._12142019.category,
                news._12142019.date,
                news._12142019.header,
                news._12142019.body)
            .col-lg-4(data-hasurl=news._12092019.url)
              a.p-news-card.p-news-card--twitter(href=news._12092019.url, target="_blank", data-category=news._12092019.category)
                +news_card(
                news._12092019.category,
                news._12092019.date,
                news._12092019.header,
                news._12092019.body)
            .col-lg-4(data-hasurl=news._11082019.url)
              a.p-news-card.p-news-card--twitter(href=news._11082019.url, target="_blank", data-category=news._11082019.category)
                +news_card(
                news._11082019.category,
                news._11082019.date,
                news._11082019.header,
                news._11082019.body)
            .col-lg-4(data-hasurl=news._10102019_2.url)
              a.p-news-card.p-news-card--twitter(href=news._10102019_2.url, target="_blank", data-category=news._10102019_2.category)
                +news_card(
                news._10102019_2.category,
                news._10102019_2.date,
                news._10102019_2.header,
                news._10102019_2.body)
            .col-lg-4(data-hasurl=news._10102019_1.url)
              a.p-news-card.p-news-card--twitter(href=news._10102019_1.url, target="_blank", data-category=news._10102019_1.category)
                +news_card(
                news._10102019_1.category,
                news._10102019_1.date,
                news._10102019_1.header,
                news._10102019_1.body)
            .col-lg-4(data-hasurl=news._10042019.url)
              a.p-news-card.p-news-card--twitter(href=news._10042019.url, target="_blank", data-category=news._10042019.category)
                +news_card(
                news._10042019.category,
                news._10042019.date,
                news._10042019.header,
                news._10042019.body)
            .col-lg-4(data-hasurl=news._10032019.url)
              a.p-news-card.p-news-card--twitter(href=news._10032019.url, target="_blank", data-category=news._10032019.category)
                +news_card(
                news._10032019.category,
                news._10032019.date,
                news._10032019.header,
                news._10032019.body)
            .col-lg-4(data-hasurl=news._10022019.url)
              a.p-news-card.p-news-card--twitter(href=news._10022019.url, target="_blank", data-category=news._10022019.category)
                +news_card(
                news._10022019.category,
                news._10022019.date,
                news._10022019.header,
                news._10022019.body)
            .col-lg-4(data-hasurl=news._09292019.url)
              a.p-news-card.p-news-card--twitter(href=news._09292019.url, target="_blank", data-category=news._09292019.category)
                +news_card(
                news._09292019.category,
                news._09292019.date,
                news._09292019.header,
                news._09292019.body)
            .col-lg-4(data-hasurl=news._09272019.url)
              a.p-news-card.p-news-card--twitter(href=news._09272019.url, target="_blank", data-category=news._09272019.category)
                +news_card(
                news._09272019.category,
                news._09272019.date,
                news._09272019.header,
                news._09272019.body)
            .col-lg-4(data-hasurl=news._09102019.url)
              a.p-news-card.p-news-card--twitter(href=news._09102019.url, target="_blank", data-category=news._09102019.category)
                +news_card(
                news._09102019.category,
                news._09102019.date,
                news._09102019.header,
                news._09102019.body)
            .col-lg-4(data-hasurl=news._09092019.url)
              a.p-news-card.p-news-card--twitter(href=news._09092019.url, target="_blank", data-category=news._09092019.category)
                +news_card(
                news._09092019.category,
                news._09092019.date,
                news._09092019.header,
                news._09092019.body)
            .col-lg-4(data-hasurl=news._08302019.url)
              a.p-news-card.p-news-card--twitter(href=news._08302019.url, target="_blank", data-category=news._08302019.category)
                +news_card(
                news._08302019.category,
                news._08302019.date,
                news._08302019.header,
                news._08302019.body)
            .col-lg-4(data-hasurl=news._08212019_1.url)
              a.p-news-card.p-news-card--twitter(href=news._08212019_1.url, target="_blank", data-category=news._08212019_1.category)
                +news_card(
                news._08212019_1.category,
                news._08212019_1.date,
                news._08212019_1.header,
                news._08212019_1.body)
            .col-lg-4(data-hasurl=news._07252019.url)
              a.p-news-card.p-news-card--twitter(href=news._07252019.url, target="_blank", data-category=news._07252019.category)
                +news_card(
                news._07252019.category,
                news._07252019.date,
                news._07252019.header,
                news._07252019.body)            
            .col-lg-4(data-hasurl=news._07172019.url)
              a.p-news-card.p-news-card--twitter(href=news._07172019.url, target="_blank", data-category=news._07172019.category)
                +news_card(
                news._07172019.category,
                news._07172019.date,
                news._07172019.header,
                news._07172019.body)
            .col-lg-4(data-hasurl=news._07162019.url)
              a.p-news-card.p-news-card--twitter(href=news._07162019.url, target="_blank", data-category=news._07162019.category)
                +news_card(
                news._07162019.category,
                news._07162019.date,
                news._07162019.header,
                news._07162019.body)
            .col-lg-4(data-hasurl=news._07112019.url)
              a.p-news-card.p-news-card--twitter(href=news._07112019.url, target="_blank", data-category=news._07112019.category)
                +news_card(
                news._07112019.category,
                news._07112019.date,
                news._07112019.header,
                news._07112019.body)
            .col-lg-4(data-hasurl=news._07032019.url)
              a.p-news-card.p-news-card--twitter(href=news._07032019.url, target="_blank", data-category=news._07032019.category)
                +news_card(
                news._07032019.category,
                news._07032019.date,
                news._07032019.header,
                news._07032019.body)
            .col-lg-4(data-hasurl=news._07022019.url)
              a.p-news-card.p-news-card--twitter(href=news._07022019.url, target="_blank", data-category=news._07022019.category)
                +news_card(
                news._07022019.category,
                news._07022019.date,
                news._07022019.header,
                news._07022019.body)
            .col-lg-4(data-hasurl=news._07012019.url)
              a.p-news-card.p-news-card--twitter(href=news._07012019.url, target="_blank", data-category=news._07012019.category)
                +news_card(
                news._07012019.category,
                news._07012019.date,
                news._07012019.header,
                news._07012019.body)
            .col-lg-4(data-hasurl=news._06272019.url)
              a.p-news-card.p-news-card--twitter(href=news._06272019.url, target="_blank", data-category=news._06272019.category)
                +news_card(
                news._06272019.category,
                news._06272019.date,
                news._06272019.header,
                news._06272019.body)
            .col-lg-4(data-hasurl=news._06202019.url)
              a.p-news-card.p-news-card--twitter(href=news._06202019.url, target="_blank", data-category=news._06202019.category)
                +news_card(
                news._06202019.category,
                news._06202019.date,
                news._06202019.header,
                news._06202019.body)
            .col-lg-4(data-hasurl=news._06122019.url)
              a.p-news-card.p-news-card--twitter(href=news._06122019.url, target="_blank", data-category=news._06122019.category)
                +news_card(
                news._06122019.category,
                news._06122019.date,
                news._06122019.header,
                news._06122019.body)
            .col-lg-4(data-hasurl=news._06062019.url)
              a.p-news-card.p-news-card--twitter(href=news._06062019.url, target="_blank", data-category=news._06062019.category)
                +news_card(
                news._06062019.category,
                news._06062019.date,
                news._06062019.header,
                news._06062019.body)
            .col-lg-4(data-hasurl=news._05292019.url)
              a.p-news-card.p-news-card--twitter(href=news._05292019.url, target="_blank", data-category=news._05292019.category)
                +news_card(
                news._05292019.category,
                news._05292019.date,
                news._05292019.header,
                news._05292019.body)
            .col-lg-4(data-hasurl=news._05232019.url)
              a.p-news-card.p-news-card--twitter(href=news._05232019.url, target="_blank", data-category=news._05232019.category)
                +news_card(
                news._05232019.category,
                news._05232019.date,
                news._05232019.header,
                news._05232019.body)
            .col-lg-4(data-hasurl=news._05162019.url)
              a.p-news-card.p-news-card--twitter(href=news._05162019.url, target="_blank", data-category=news._05162019.category)
                +news_card(
                news._05162019.category,
                news._05162019.date,
                news._05162019.header,
                news._05162019.body)
            .col-lg-4(data-hasurl=news._04262019.url)
              a.p-news-card.p-news-card--twitter(href=news._04262019.url, target="_blank", data-category=news._04262019.category)
                +news_card(
                news._04262019.category,
                news._04262019.date,
                news._04262019.header,
                news._04262019.body)
            .col-lg-4(data-hasurl=news._04242019.url)
              a.p-news-card.p-news-card--twitter(href=news._04242019.url, target="_blank", data-category=news._04242019.category)
                +news_card(
                news._04242019.category,
                news._04242019.date,
                news._04242019.header,
                news._04242019.body)
            .col-lg-4(data-hasurl=news._04042019.url)
              a.p-news-card.p-news-card--twitter(href=news._04042019.url, target="_blank", data-category=news._04042019.category)
                +news_card(
                news._04042019.category,
                news._04042019.date,
                news._04042019.header,
                news._04042019.body)
            .col-lg-4(data-hasurl=news._01102019.url)
              a.p-news-card.p-news-card--twitter(href=news._01102019.url, target="_blank", data-category=news._01102019.category)
                +news_card(
                news._01102019.category,
                news._01102019.date,
                news._01102019.header,
                news._01102019.body)
            .col-lg-4(data-hasurl=news._12182018.url)
              a.p-news-card.p-news-card--twitter(href=news._12182018.url, target="_blank", data-category=news._12182018.category)
                +news_card(
                news._12182018.category,
                news._12182018.date,
                news._12182018.header,
                news._12182018.body)
            .col-lg-4(data-hasurl=news._11302018.url)
              a.p-news-card.p-news-card--twitter(href=news._11302018.url, target="_blank", data-category=news._11302018.category)
                +news_card(
                news._11302018.category,
                news._11302018.date,
                news._11302018.header,
                news._11302018.body)
            .col-lg-4(data-hasurl=news._11072018_2.url)
              a.p-news-card.p-news-card--twitter(href=news._11072018_2.url, target="_blank", data-category=news._11072018_2.category)
                +news_card(
                news._11072018_2.category,
                news._11072018_2.date,
                news._11072018_2.header,
                news._11072018_2.body)
            .col-lg-4(data-hasurl=news._10182018.url)
              a.p-news-card.p-news-card--twitter(href=news._10182018.url, target="_blank", data-category=news._10182018.category)
                +news_card(
                news._10182018.category,
                news._10182018.date,
                news._10182018.header,
                news._10182018.body)
            .col-lg-4(data-hasurl=news._10162018.url)
              a.p-news-card.p-news-card--twitter(href=news._10162018.url, target="_blank", data-category=news._10162018.category)
                +news_card(
                news._10162018.category,
                news._10162018.date,
                news._10162018.header,
                news._10162018.body)
            .col-lg-4(data-hasurl=news._10042018.url)
              a.p-news-card.p-news-card--twitter(href=news._10042018.url, target="_blank", data-category=news._10042018.category)
                +news_card(
                news._10042018.category,
                news._10042018.date,
                news._10042018.header,
                news._10042018.body)
            .col-lg-4(data-hasurl=news._10032018.url)
              a.p-news-card.p-news-card--twitter(href=news._10032018.url, target="_blank", data-category=news._10032018.category)
                +news_card(
                news._10032018.category,
                news._10032018.date,
                news._10032018.header,
                news._10032018.body)
            .col-lg-4(data-hasurl=news._09292018_1.url)
              a.p-news-card.p-news-card--twitter(href=news._09292018_1.url, target="_blank", data-category=news._09292018_1.category)
                +news_card(
                news._09292018_1.category,
                news._09292018_1.date,
                news._09292018_1.header,
                news._09292018_1.body)
            .col-lg-4(data-hasurl=news._09292018_2.url)
              a.p-news-card.p-news-card--twitter(href=news._09292018_2.url, target="_blank", data-category=news._09292018_2.category)
                +news_card(
                news._09292018_2.category,
                news._09292018_2.date,
                news._09292018_2.header,
                news._09292018_2.body)
            .col-lg-4(data-hasurl=news._09272018.url)
              a.p-news-card.p-news-card--twitter(href=news._09272018.url, target="_blank", data-category=news._09272018.category)
                +news_card(
                news._09272018.category,
                news._09272018.date,
                news._09272018.header,
                news._09272018.body)
            .col-lg-4(data-hasurl=news._09082018.url)
              a.p-news-card.p-news-card--twitter(href=news._09082018.url, target="_blank", data-category=news._09082018.category)
                +news_card(
                news._09082018.category,
                news._09082018.date,
                news._09082018.header,
                news._09082018.body)
            .col-lg-4(data-hasurl=news._09042018_1.url)
              a.p-news-card.p-news-card--twitter(href=news._09042018_1.url, target="_blank", data-category=news._09042018_1.category)
                +news_card(
                news._09042018_1.category,
                news._09042018_1.date,
                news._09042018_1.header,
                news._09042018_1.body)
            .col-lg-4(data-hasurl=news._09042018_2.url)
              a.p-news-card.p-news-card--twitter(href=news._09042018_2.url, target="_blank", data-category=news._09042018_2.category)
                +news_card(
                news._09042018_2.category,
                news._09042018_2.date,
                news._09042018_2.header,
                news._09042018_2.body)
            .col-lg-4(data-hasurl=news._08282018.url)
              a.p-news-card.p-news-card--twitter(href=news._08282018.url, target="_blank", data-category=news._08282018.category)
                +news_card(
                news._08282018.category,
                news._08282018.date,
                news._08282018.header,
                news._08282018.body)
            .col-lg-4(data-hasurl=news._08242018.url)
              a.p-news-card.p-news-card--twitter(href=news._08242018.url, target="_blank", data-category=news._08242018.category)
                +news_card(
                news._08242018.category,
                news._08242018.date,
                news._08242018.header,
                news._08242018.body)
            .col-lg-4(data-hasurl=news._08032018.url)
              a.p-news-card.p-news-card--twitter(href=news._08032018.url, target="_blank", data-category=news._08032018.category)
                +news_card(
                news._08032018.category,
                news._08032018.date,
                news._08032018.header,
                news._08032018.body)
            .col-lg-4(data-hasurl=news._07312018.url)
              a.p-news-card.p-news-card--twitter(href=news._07312018.url, target="_blank", data-category=news._07312018.category)
                +news_card(
                news._07312018.category,
                news._07312018.date,
                news._07312018.header,
                news._07312018.body)
            .col-lg-4(data-hasurl=news._07302018.url)
              a.p-news-card.p-news-card--twitter(href=news._07302018.url, target="_blank", data-category=news._07302018.category)
                +news_card(
                news._07302018.category,
                news._07302018.date,
                news._07302018.header,
                news._07302018.body)
            .col-lg-4(data-hasurl=news._06292018.url)
              a.p-news-card.p-news-card--twitter(href=news._06292018.url, target="_blank", data-category=news._06292018.category)
                +news_card(
                news._06292018.category,
                news._06292018.date,
                news._06292018.header,
                news._06292018.body)
            .col-lg-4(data-hasurl=news._06212018.url)
              a.p-news-card.p-news-card--twitter(href=news._06212018.url, target="_blank", data-category=news._06212018.category)
                +news_card(
                news._06212018.category,
                news._06212018.date,
                news._06212018.header,
                news._06212018.body)
            .col-lg-4(data-hasurl=news._05102018.url)
              a.p-news-card.p-news-card--twitter(href=news._05102018.url, target="_blank", data-category=news._05102018.category)
                +news_card(
                news._05102018.category,
                news._05102018.date,
                news._05102018.header,
                news._05102018.body)
            .col-lg-4(data-hasurl=news._02062018_1.url)
              a.p-news-card.p-news-card--twitter(href=news._02062018_1.url, target="_blank", data-category=news._02062018_1.category)
                +news_card(
                news._02062018_1.category,
                news._02062018_1.date,
                news._02062018_1.header,
                news._02062018_1.body)
            .col-lg-4(data-hasurl=news._09272017_2.url)
              a.p-news-card.p-news-card--twitter(href=news._09272017_2.url, target="_blank", data-category=news._09272017_2.category)
                +news_card(
                news._09272017_2.category,
                news._09272017_2.date,
                news._09272017_2.header,
                news._09272017_2.body)
            .col-lg-4(data-hasurl=news._09132018.url)
              a.p-news-card.p-news-card--twitter(href=news._09132018.url, target="_blank", data-category=news._09132018.category)
                +news_card(
                news._09132018.category,
                news._09132018.date,
                news._09132018.header,
                news._09132018.body)
            .col-lg-4(data-hasurl=news._09012017_1.url)
              a.p-news-card.p-news-card--twitter(href=news._09012017_1.url, target="_blank", data-category=news._09012017_1.category)
                +news_card(
                news._09012017_1.category,
                news._09012017_1.date,
                news._09012017_1.header,
                news._09012017_1.body)
            .col-lg-4(data-hasurl=news._09012017_2.url)
              a.p-news-card.p-news-card--twitter(href=news._09012017_2.url, target="_blank", data-category=news._09012017_2.category)
                +news_card(
                news._09012017_2.category,
                news._09012017_2.date,
                news._09012017_2.header,
                news._09012017_2.body)
            .col-lg-4(data-hasurl=news._09112017.url)
              a.p-news-card.p-news-card--twitter(href=news._09112017.url, target="_blank", data-category=news._09112017.category)
                +news_card(
                news._09112017.category,
                news._09112017.date,
                news._09112017.header,
                news._09112017.body)
            .col-lg-4(data-hasurl=news._09062017.url)
              a.p-news-card.p-news-card--twitter(href=news._09062017.url, target="_blank", data-category=news._09062017.category)
                +news_card(
                news._09062017.category,
                news._09062017.date,
                news._09062017.header,
                news._09062017.body)
            .col-lg-4(data-hasurl=news._08302018.url)
              a.p-news-card.p-news-card--twitter(href=news._08302018.url, target="_blank", data-category=news._08302018.category)
                +news_card(
                news._08302018.category,
                news._08302018.date,
                news._08302018.header,
                news._08302018.body)
            .col-lg-4(data-hasurl=news._08252017_1.url)
              a.p-news-card.p-news-card--twitter(href=news._08252017_1.url, target="_blank", data-category=news._08252017_1.category)
                +news_card(
                news._08252017_1.category,
                news._08252017_1.date,
                news._08252017_1.header,
                news._08252017_1.body)
            .col-lg-4(data-hasurl=news._08252017_2.url)
              a.p-news-card.p-news-card--twitter(href=news._08252017_2.url, target="_blank", data-category=news._08252017_2.category)
                +news_card(
                news._08252017_2.category,
                news._08252017_2.date,
                news._08252017_2.header,
                news._08252017_2.body)
            .col-lg-4(data-hasurl=news._08232018.url)
              a.p-news-card.p-news-card--twitter(href=news._08232018.url, target="_blank", data-category=news._08232018.category)
                +news_card(
                news._08232018.category,
                news._08232018.date,
                news._08232018.header,
                news._08232018.body)

  // Footer
  #meetus
  include includes/footer

  // generated by webpack
  script(type="text/javascript", src='/js/low_priority_index.js')
