include includes/header

// Navbar
body
  include includes/navbar

  include mixin/mail_form

  .p-page
    main.l-main
      .p-cover-header.p-cover-header--news.js-cover-header
        h2.p-cover-header__title NEWS

      .container-fluid
        .p-block--lg
          .row.p-news-cards
            include mixin/news_card
            .col-lg-4(data-hasurl=news._11302018.url)
              a.p-news-card.p-news-card--twitter(href=news._11302018.url, target="_blank", data-category=news._11302018.category)
                +news_card(
                news._11302018.category,
                news._11302018.date,
                news._11302018.header,
                news._11302018.body)
            .col-lg-4(data-hasurl=news._11072018_1.url)
              a.p-news-card.p-news-card--twitter(href=news._11072018_1.url, target="_blank", data-category=news._11072018_1.category)
                +news_card(
                news._11072018_1.category,
                news._11072018_1.date,
                news._11072018_1.header,
                news._11072018_1.body)
            .col-lg-4(data-hasurl=news._11072018_2.url)
              a.p-news-card.p-news-card--twitter(href=news._11072018_2.url, target="_blank", data-category=news._11072018_2.category)
                +news_card(
                news._11072018_2.category,
                news._11072018_2.date,
                news._11072018_2.header,
                news._11072018_2.body)
            .col-lg-4(data-hasurl=news._10182018.url)
              a.p-news-card.p-news-card--twitter(href=news._10182018.url, target="_blank", data-category=news._10182018.category)
                +news_card(
                news._10182018.category,
                news._10182018.date,
                news._10182018.header,
                news._10182018.body)
            .col-lg-4(data-hasurl=news._10162018.url)
              a.p-news-card.p-news-card--twitter(href=news._10162018.url, target="_blank", data-category=news._10162018.category)
                +news_card(
                news._10162018.category,
                news._10162018.date,
                news._10162018.header,
                news._10162018.body)
            .col-lg-4(data-hasurl=news._10152018.url)
              a.p-news-card.p-news-card--twitter(href=news._10152018.url, target="_blank", data-category=news._10152018.category)
                +news_card(
                news._10152018.category,
                news._10152018.date,
                news._10152018.header,
                news._10152018.body)
            .col-lg-4(data-hasurl=news._10132018.url)
              a.p-news-card.p-news-card--twitter(href=news._10132018.url, target="_blank", data-category=news._10132018.category)
                +news_card(
                news._10132018.category,
                news._10132018.date,
                news._10132018.header,
                news._10132018.body)
            .col-lg-4(data-hasurl=news._10092018.url)
              a.p-news-card.p-news-card--twitter(href=news._10092018.url, target="_blank", data-category=news._10092018.category)
                +news_card(
                news._10092018.category,
                news._10092018.date,
                news._10092018.header,
                news._10092018.body)
            .col-lg-4(data-hasurl=news._10042018.url)
              a.p-news-card.p-news-card--twitter(href=news._10042018.url, target="_blank", data-category=news._10042018.category)
                +news_card(
                news._10042018.category,
                news._10042018.date,
                news._10042018.header,
                news._10042018.body)
            .col-lg-4(data-hasurl=news._10032018.url)
              a.p-news-card.p-news-card--twitter(href=news._10032018.url, target="_blank", data-category=news._10032018.category)
                +news_card(
                news._10032018.category,
                news._10032018.date,
                news._10032018.header,
                news._10032018.body)
            .col-lg-4(data-hasurl=news._09292018_1.url)
              a.p-news-card.p-news-card--twitter(href=news._09292018_1.url, target="_blank", data-category=news._09292018_1.category)
                +news_card(
                news._09292018_1.category,
                news._09292018_1.date,
                news._09292018_1.header,
                news._09292018_1.body)
            .col-lg-4(data-hasurl=news._09292018_2.url)
              a.p-news-card.p-news-card--twitter(href=news._09292018_2.url, target="_blank", data-category=news._09292018_2.category)
                +news_card(
                news._09292018_2.category,
                news._09292018_2.date,
                news._09292018_2.header,
                news._09292018_2.body)
            .col-lg-4(data-hasurl=news._09272018.url)
              a.p-news-card.p-news-card--twitter(href=news._09272018.url, target="_blank", data-category=news._09272018.category)
                +news_card(
                news._09272018.category,
                news._09272018.date,
                news._09272018.header,
                news._09272018.body)
            .col-lg-4(data-hasurl=news._09082018.url)
              a.p-news-card.p-news-card--twitter(href=news._09082018.url, target="_blank", data-category=news._09082018.category)
                +news_card(
                news._09082018.category,
                news._09082018.date,
                news._09082018.header,
                news._09082018.body)
            .col-lg-4(data-hasurl=news._09042018_1.url)
              a.p-news-card.p-news-card--twitter(href=news._09042018_1.url, target="_blank", data-category=news._09042018_1.category)
                +news_card(
                news._09042018_1.category,
                news._09042018_1.date,
                news._09042018_1.header,
                news._09042018_1.body)
            .col-lg-4(data-hasurl=news._09042018_2.url)
              a.p-news-card.p-news-card--twitter(href=news._09042018_2.url, target="_blank", data-category=news._09042018_2.category)
                +news_card(
                news._09042018_2.category,
                news._09042018_2.date,
                news._09042018_2.header,
                news._09042018_2.body)
            .col-lg-4(data-hasurl=news._08282018.url)
              a.p-news-card.p-news-card--twitter(href=news._08282018.url, target="_blank", data-category=news._08282018.category)
                +news_card(
                news._08282018.category,
                news._08282018.date,
                news._08282018.header,
                news._08282018.body)
            .col-lg-4(data-hasurl=news._08242018.url)
              a.p-news-card.p-news-card--twitter(href=news._08242018.url, target="_blank", data-category=news._08242018.category)
                +news_card(
                news._08242018.category,
                news._08242018.date,
                news._08242018.header,
                news._08242018.body)
            .col-lg-4(data-hasurl=news._08032018.url)
              a.p-news-card.p-news-card--twitter(href=news._08032018.url, target="_blank", data-category=news._08032018.category)
                +news_card(
                news._08032018.category,
                news._08032018.date,
                news._08032018.header,
                news._08032018.body)
            .col-lg-4(data-hasurl=news._07312018.url)
              a.p-news-card.p-news-card--twitter(href=news._07312018.url, target="_blank", data-category=news._07312018.category)
                +news_card(
                news._07312018.category,
                news._07312018.date,
                news._07312018.header,
                news._07312018.body)
            .col-lg-4(data-hasurl=news._07302018.url)
              a.p-news-card.p-news-card--twitter(href=news._07302018.url, target="_blank", data-category=news._07302018.category)
                +news_card(
                news._07302018.category,
                news._07302018.date,
                news._07302018.header,
                news._07302018.body)
            .col-lg-4(data-hasurl=news._07282018.url)
              a.p-news-card.p-news-card--twitter(href=news._07282018.url, target="_blank", data-category=news._07282018.category)
                +news_card(
                news._07282018.category,
                news._07282018.date,
                news._07282018.header,
                news._07282018.body)
            .col-lg-4(data-hasurl=news._06292018.url)
              a.p-news-card.p-news-card--twitter(href=news._06292018.url, target="_blank", data-category=news._06292018.category)
                +news_card(
                news._06292018.category,
                news._06292018.date,
                news._06292018.header,
                news._06292018.body)
            .col-lg-4(data-hasurl=news._06212018.url)
              a.p-news-card.p-news-card--twitter(href=news._06212018.url, target="_blank", data-category=news._06212018.category)
                +news_card(
                news._06212018.category,
                news._06212018.date,
                news._06212018.header,
                news._06212018.body)
            .col-lg-4(data-hasurl=news._06122018.url)
              a.p-news-card.p-news-card--twitter(href=news._06122018.url, target="_blank", data-category=news._06122018.category)
                +news_card(
                news._06122018.category,
                news._06122018.date,
                news._06122018.header,
                news._06122018.body)
            .col-lg-4(data-hasurl=news._06092018.url)
              a.p-news-card.p-news-card--twitter(href=news._06092018.url, target="_blank", data-category=news._06092018.category)
                +news_card(
                news._06092018.category,
                news._06092018.date,
                news._06092018.header,
                news._06092018.body)
            .col-lg-4(data-hasurl=news._06062018.url)
              a.p-news-card.p-news-card--twitter(href=news._06062018.url, target="_blank", data-category=news._06062018.category)
                +news_card(
                news._06062018.category,
                news._06062018.date,
                news._06062018.header,
                news._06062018.body)
            .col-lg-4(data-hasurl=news._05312018.url)
              a.p-news-card.p-news-card--twitter(href=news._05312018.url, target="_blank", data-category=news._05312018.category)
                +news_card(
                news._05312018.category,
                news._05312018.date,
                news._05312018.header,
                news._05312018.body)
            .col-lg-4(data-hasurl=news._05192018.url)
              a.p-news-card.p-news-card--twitter(href=news._05192018.url, target="_blank", data-category=news._05192018.category)
                +news_card(
                news._05192018.category,
                news._05192018.date,
                news._05192018.header,
                news._05192018.body)
            .col-lg-4(data-hasurl=news._05102018.url)
              a.p-news-card.p-news-card--twitter(href=news._05102018.url, target="_blank", data-category=news._05102018.category)
                +news_card(
                news._05102018.category,
                news._05102018.date,
                news._05102018.header,
                news._05102018.body)
            .col-lg-4(data-hasurl=news._05072018.url)
              a.p-news-card.p-news-card--twitter(href=news._05072018.url, target="_blank", data-category=news._05072018.category)
                +news_card(
                news._05072018.category,
                news._05072018.date,
                news._05072018.header,
                news._05072018.body)
            .col-lg-4(data-hasurl=news._04302018.url)
              a.p-news-card.p-news-card--twitter(href=news._04302018.url, target="_blank", data-category=news._04302018.category)
                +news_card(
                news._04302018.category,
                news._04302018.date,
                news._04302018.header,
                news._04302018.body)
            .col-lg-4(data-hasurl=news._04272018.url)
              a.p-news-card.p-news-card--twitter(href=news._04272018.url, target="_blank", data-category=news._04272018.category)
                +news_card(
                news._04272018.category,
                news._04272018.date,
                news._04272018.header,
                news._04272018.body)
            .col-lg-4(data-hasurl=news._04252018_1.url)
              a.p-news-card.p-news-card--twitter(href=news._04252018_1.url, target="_blank", data-category=news._04252018_1.category)
                +news_card(
                news._04252018_1.category,
                news._04252018_1.date,
                news._04252018_1.header,
                news._04252018_1.body)
            .col-lg-4(data-hasurl=news._04252018_2.url)
              a.p-news-card.p-news-card--twitter(href=news._04252018_2.url, target="_blank", data-category=news._04252018_2.category)
                +news_card(
                news._04252018_2.category,
                news._04252018_2.date,
                news._04252018_2.header,
                news._04252018_2.body)
            .col-lg-4(data-hasurl=news._04242018.url)
              a.p-news-card.p-news-card--twitter(href=news._04242018.url, target="_blank", data-category=news._04242018.category)
                +news_card(
                news._04242018.category,
                news._04242018.date,
                news._04242018.header,
                news._04242018.body)
            .col-lg-4(data-hasurl=news._02282018.url)
              a.p-news-card.p-news-card--twitter(href=news._02282018.url, target="_blank", data-category=news._02282018.category)
                +news_card(
                news._02282018.category,
                news._02282018.date,
                news._02282018.header,
                news._02282018.body)
            .col-lg-4(data-hasurl=news._02242018.url)
              a.p-news-card.p-news-card--twitter(href=news._02242018.url, target="_blank", data-category=news._02242018.category)
                +news_card(
                news._02242018.category,
                news._02242018.date,
                news._02242018.header,
                news._02242018.body)
            .col-lg-4(data-hasurl=news._02142018.url)
              a.p-news-card.p-news-card--twitter(href=news._02142018.url, target="_blank", data-category=news._02142018.category)
                +news_card(
                news._02142018.category,
                news._02142018.date,
                news._02142018.header,
                news._02142018.body)
            .col-lg-4(data-hasurl=news._02122018.url)
              a.p-news-card.p-news-card--twitter(href=news._02122018.url, target="_blank", data-category=news._02122018.category)
                +news_card(
                news._02122018.category,
                news._02122018.date,
                news._02122018.header,
                news._02122018.body)
            .col-lg-4(data-hasurl=news._02072018.url)
              a.p-news-card.p-news-card--twitter(href=news._02072018.url, target="_blank", data-category=news._02072018.category)
                +news_card(
                news._02072018.category,
                news._02072018.date,
                news._02072018.header,
                news._02072018.body)
            .col-lg-4(data-hasurl=news._02062018_1.url)
              a.p-news-card.p-news-card--twitter(href=news._02062018_1.url, target="_blank", data-category=news._02062018_1.category)
                +news_card(
                news._02062018_1.category,
                news._02062018_1.date,
                news._02062018_1.header,
                news._02062018_1.body)
            .col-lg-4(data-hasurl=news._02062018_2.url)
              a.p-news-card.p-news-card--twitter(href=news._02062018_2.url, target="_blank", data-category=news._02062018_2.category)
                +news_card(
                news._02062018_2.category,
                news._02062018_2.date,
                news._02062018_2.header,
                news._02062018_2.body)
            .col-lg-4(data-hasurl=news._01222018.url)
              a.p-news-card.p-news-card--twitter(href=news._01222018.url, target="_blank", data-category=news._01222018.category)
                +news_card(
                news._01222018.category,
                news._01222018.date,
                news._01222018.header,
                news._01222018.body)
            .col-lg-4(data-hasurl=news._12232017_1.url)
              a.p-news-card.p-news-card--twitter(href=news._12232017_1.url, target="_blank", data-category=news._12232017_1.category)
                +news_card(
                news._12232017_1.category,
                news._12232017_1.date,
                news._12232017_1.header,
                news._12232017_1.body)
            .col-lg-4(data-hasurl=news._12232017_2.url)
              a.p-news-card.p-news-card--twitter(href=news._12232017_2.url, target="_blank", data-category=news._12232017_2.category)
                +news_card(
                news._12232017_2.category,
                news._12232017_2.date,
                news._12232017_2.header,
                news._12232017_2.body)
            .col-lg-4(data-hasurl=news._12052017.url)
              a.p-news-card.p-news-card--twitter(href=news._12052017.url, target="_blank", data-category=news._12052017.category)
                +news_card(
                news._12052017.category,
                news._12052017.date,
                news._12052017.header,
                news._12052017.body)
            .col-lg-4(data-hasurl=news._09292017.url)
              a.p-news-card.p-news-card--twitter(href=news._09292017.url, target="_blank", data-category=news._09292017.category)
                +news_card(
                news._09292017.category,
                news._09292017.date,
                news._09292017.header,
                news._09292017.body)
            .col-lg-4(data-hasurl=news._09272017_1)
              a.p-news-card.p-news-card--twitter(href=news._09272017_1.url, target="_blank", data-category=news. _09272017_1.category)
                +news_card(
                news. _09272017_1.category,
                news. _09272017_1.date,
                news. _09272017_1.header,
                news. _09272017_1.body)
            .col-lg-4(data-hasurl=news._09272017_2.url)
              a.p-news-card.p-news-card--twitter(href=news._09272017_2.url, target="_blank", data-category=news._09272017_2.category)
                +news_card(
                news._09272017_2.category,
                news._09272017_2.date,
                news._09272017_2.header,
                news._09272017_2.body)
            .col-lg-4(data-hasurl=news._09132018.url)
              a.p-news-card.p-news-card--twitter(href=news._09132018.url, target="_blank", data-category=news._09132018.category)
                +news_card(
                news._09132018.category,
                news._09132018.date,
                news._09132018.header,
                news._09132018.body)
            .col-lg-4(data-hasurl=news._09012017_1.url)
              a.p-news-card.p-news-card--twitter(href=news._09012017_1.url, target="_blank", data-category=news._09012017_1.category)
                +news_card(
                news._09012017_1.category,
                news._09012017_1.date,
                news._09012017_1.header,
                news._09012017_1.body)
            .col-lg-4(data-hasurl=news._09012017_2.url)
              a.p-news-card.p-news-card--twitter(href=news._09012017_2.url, target="_blank", data-category=news._09012017_2.category)
                +news_card(
                news._09012017_2.category,
                news._09012017_2.date,
                news._09012017_2.header,
                news._09012017_2.body)
            .col-lg-4(data-hasurl=news._09112017.url)
              a.p-news-card.p-news-card--twitter(href=news._09112017.url, target="_blank", data-category=news._09112017.category)
                +news_card(
                news._09112017.category,
                news._09112017.date,
                news._09112017.header,
                news._09112017.body)
            .col-lg-4(data-hasurl=news._09062017.url)
              a.p-news-card.p-news-card--twitter(href=news._09062017.url, target="_blank", data-category=news._09062017.category)
                +news_card(
                news._09062017.category,
                news._09062017.date,
                news._09062017.header,
                news._09062017.body)
            .col-lg-4(data-hasurl=news._09012017_3.url)
              a.p-news-card.p-news-card--twitter(href=news._09012017_3.url, target="_blank", data-category=news._09012017_3.category)
                +news_card(
                news._09012017_3.category,
                news._09012017_3.date,
                news._09012017_3.header,
                news._09012017_3.body)
            .col-lg-4(data-hasurl=news._08302018.url)
              a.p-news-card.p-news-card--twitter(href=news._08302018.url, target="_blank", data-category=news._08302018.category)
                +news_card(
                news._08302018.category,
                news._08302018.date,
                news._08302018.header,
                news._08302018.body)
            .col-lg-4(data-hasurl=news._08252017_1.url)
              a.p-news-card.p-news-card--twitter(href=news._08252017_1.url, target="_blank", data-category=news._08252017_1.category)
                +news_card(
                news._08252017_1.category,
                news._08252017_1.date,
                news._08252017_1.header,
                news._08252017_1.body)
            .col-lg-4(data-hasurl=news._08252017_2.url)
              a.p-news-card.p-news-card--twitter(href=news._08252017_2.url, target="_blank", data-category=news._08252017_2.category)
                +news_card(
                news._08252017_2.category,
                news._08252017_2.date,
                news._08252017_2.header,
                news._08252017_2.body)
            .col-lg-4(data-hasurl=news._08232018.url)
              a.p-news-card.p-news-card--twitter(href=news._08232018.url, target="_blank", data-category=news._08232018.category)
                +news_card(
                news._08232018.category,
                news._08232018.date,
                news._08232018.header,
                news._08232018.body)
            .col-lg-4(data-hasurl=news._08182017.url)
              a.p-news-card.p-news-card--twitter(href=news._08182017.url, target="_blank", data-category=news._08182017.category)
                +news_card(
                news._08182017.category,
                news._08182017.date,
                news._08182017.header,
                news._08182017.body)

  // Footer
  #meetus
  include includes/footer

  // generated by webpack
  script(type="text/javascript", src='/js/low_priority_index.js')
